*{
    margin: 1px;
    box-sizing: border-box;
}
body{
    height: 95vh;
    background: white;
    font-family: sans-serif;
    text-align: center;
    color: rgb(236, 4, 4);
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header{
    background: #141416;
    padding: 2em 0 2em 0;
}

.main{
    display: flex;

}

.left{
    height: 350px;
    background: #141416;
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}

main{
    background: white;
    padding: 1em 0 1em 0;
    flex: 5 5 150px;
}

footer{
    background: #141416;
    padding: 1em 0 1em 0;
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}