body{
  background-image: url('background/circuit.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header{
  background-color: rgb(230, 225, 225);
  /* border: 2px solid black; */
  height: 100px;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  opacity: 90%;

  /* background-image: url('circuit_bg.jpg');
  background-size: contain; */
  
}

.logo{
  width: 25%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.menu{
  /* background-color: red; */
  /* border: 1px solid black; */
  width: 20vw;
  height: auto;
  display: block;
  text-align: center;
  background-color: rgb(230, 225, 225);
  border-radius: 5px;
  margin-top: 5px;
  opacity: 90%;
  position:sticky;
  /* background-image: url('circuit_bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.menu1{
  display: none;
}

.btnmenu{
  width: 100%;
  height: 10vh;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btnmenu:hover{
  background-color: gray;
}

.content{
  /* background-color: green;
  border: 2px solid black; */
  width: 80vw;
  padding: 20px;
  background-color: rgb(230, 225, 225);
  margin-top: 5px;
  margin-left: 5px;
  border-radius: 5px;
  opacity: 90%;
  display: block;
  height: auto;

}

.content h3{
  text-align: center;
}

.footer{
  /* background-color: blue;
  border: 2px solid black; */
  text-align: center;
  align-items: center;
  color: yellow;
}

.footer_line{
  border: 0.5px solid red;
  width: 50%;
  margin: 20px auto;
}

.align{
  display: flex;
  justify-content: space-between;
}




@media only screen and (max-width: 800px){
  
  .header{
      background-color: rgb(230, 225, 225);
      /* border: 2px solid black; */
      height: 100px;
      padding: 10px;
      display: flex;
      border-radius: 5px;
      opacity: 80%;
      text-align: center;
      align-items: center;
      justify-content: center;
  
      /* background-image: url('circuit_bg.jpg');
      background-size: contain; */
  }
  
  .logo{
      width: 80%;
      height: 100%;
      border-radius: 10px;
      border: 1px solid black;
  }

  .menu{
      display: none; 
  }

  .menu1{
      display: block;

      width: 10vw;
      height: auto;
      display: block;
      text-align: center;
      background-color: rgb(230, 225, 225);
      border-radius: 5px;
      margin-top: 5px;
      opacity: 80%;
  }

  .btnmenu img{
      width: 5% auto;
      height: auto;
  }
  
}

.container{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.sliderframe{
  overflow: hidden;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.slider{
  position: relative;
  width: 500%;
  left: 0;
  animation: 20s slider infinite;
  border-radius: 10px;
}

.slider img{
  width: 20%;
  height: 500px;
  float: left;
}

@keyframes slider{
  0% {
      left: 0;
  }
  20% {
      left: 0;
  }

  25%{
      left: -100%;
  }
  40%{
      left: -100%;
  }

  45%{
      left: -200%;
  }
  60%{
      left: -200%;
  }

  65%{
      left: -300%;
  }
  80%{
      left: -300%;
  }

  85%{
      left: -400%;
  }
  100%{
      left: -400%;
  }
  
}

